<label
  class="flex items-center justify-center w-5 h-5 rounded border border-stone-300 bg-white has-checked:border-none has-checked:bg-green-500"
>
  <input type="checkbox" class="opacity-0 absolute peer" [checked]="active()" (change)="handleCheckboxChange()" />
  <svg
    class="w-4 h-4 opacity-0 peer-checked:opacity-100 transition-opacity duration-100 ease-in-out"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="#fff"
    viewBox="0 0 256 256"
  >
    <path
      d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"
    ></path>
  </svg>
</label>
