<div class="relative">
	@if (showBackdrop) {
	<div class="absolute inset-0 bg-red-200 -z-[1] rounded-xl flex items-center justify-end px-4 py-3">🗑️</div>
	}
	<label
	class="flex items-center gap-2 rounded-lg bg-stone-200 px-4 py-3 select-none active:brightness-105"
	cdkDrag
	cdkDragLockAxis="x"
	(cdkDragEnded)="onDragEnd($event)"
	(cdkDragMoved)="onDragMoved($event)"
	>
		<app-checkbox [active]="todo()!.completed" (check)="onCheckboxChange()" />
		<span class="w-full">{{ todo()!.label }}</span>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			class="h-4 w-4 fill-stone-600"
			viewBox="0 0 256 256"
		>
			<path
			d="M104,60A12,12,0,1,1,92,48,12,12,0,0,1,104,60Zm60,12a12,12,0,1,0-12-12A12,12,0,0,0,164,72ZM92,116a12,12,0,1,0,12,12A12,12,0,0,0,92,116Zm72,0a12,12,0,1,0,12,12A12,12,0,0,0,164,116ZM92,184a12,12,0,1,0,12,12A12,12,0,0,0,92,184Zm72,0a12,12,0,1,0,12,12A12,12,0,0,0,164,184Z"
			></path>
		</svg>
	</label>
</div>